body {
	padding-top: 70px;
}
.main {
	margin-bottom: 80px;
}


/* ==== footer.html, tag_index.html, & post.html ==== */
.space-above {
	margin-top: 20px;
}

.heading-space {
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: center;
}


/* ==== post.html */
.space-below {
	margin-bottom: -15px;
}
.post {
	margin-top: 20px;
	padding-bottom: 35px;
}


/* ==== news.html, index.html */
.space-before {
	padding-left: 15px;
}


/* === tags.html === */
.column1 {
	width: 50%;
	float: left;
}
.column2 {
	width: 50%;
	float: right;
}


/* === archive.html === */
.col1-archive {
	width: 35%;
	float: left;
}



/* ==== projects.html, finish-sidebar */
/* -- http://osvaldas.info/responsive-jquery-masonry-or-pinterest-style-layout -- */

#wrapper {
    max-width: 60em; /* 960 px */
    margin: 20px auto;
}
#list {
    width: 100%;
    overflow: hidden;
    /*margin-bottom: -1.875em; /* 30px */
    -webkit-column-count: 3;
    -webkit-column-gap: 1.875em; /* 30px */
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 1.875em; /* 30px */
    -moz-column-fill: auto;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.875em;
       -moz-column-gap: 1.875em;
            column-gap: 1.875em; /* 30px */
}
.item {
    margin-bottom: 1.875em; /* 15px 30px */
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
}
.item a {
	color: #fff;
}
.item h3 {
	text-align: center;
}
 
@media only screen and ( max-width: 40em )
/* 640px */ {
    #list
    {
        -webkit-column-count: 2;
        -webkit-column-gap: 0.938em; /* 15px */
        -moz-column-count: 2;
        -moz-column-gap: 0.938em; /* 15px */
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        -webkit-column-gap: 0.938em;
           -moz-column-gap: 0.938em;
                column-gap: 0.938em; /* 15px */
    }
        .item
        {
            margin-bottom: 0.938em; /* 15px */
        }
}
@media only screen and ( max-width: 20em )
/* 320px */ {
    #list
    {
        -webkit-column-count: auto;
        -moz-column-count: auto;
        column-count: auto;
    }
}

.move-text {
	height: 50px;
}

.img-bordered {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #595959;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: 12px auto;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
  
.big-space {
	height: 100px;
} 


/* -- recipe.html -- */

.img-recipe {
	float: left;
	margin: 6px;
	border:1px solid #666;
}
 

 
/*  --- Cascading Images, https://github.com/courtney/ForwardJS2014/blob/master/grid-demo.html --- */

#portfolio {
    width: 100%
}	
.mt {
    padding-top: 25px;
}
.grid {
    max-width: 69em;
    list-style: none;
    margin: 30px auto;
    padding: 0;
}
.grid li {
    display: block;
    float: left;
    padding: 7px;
    width: 33%;
    opacity: 1;
}
.grid li.shown, .no-js .grid li, .no-cssanimations .grid li {
    opacity: 1;
}
.grid li a, .grid li img {
    outline: 0;
    border: 0;
    display: block;
    max-width: 100%}
.grid img {
    opacity: 1;
}
.grid img:hover {
    opacity: 1;
}
.grid.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    -ms-transform: translateY(200px);
        transform: translateY(200px);
    -webkit-animation: moveUp .65s ease forwards;
    animation: moveUp .65s ease forwards;
}
@-webkit-keyframes moveUp {
    to {
    -webkit-transform: translateY(0);
    opacity: 1;
	}
}
@keyframes moveUp {
    to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
	}
}



/* -- https://github.com/courtney/ForwardJS2014/blob/master/grid-demo.html -- */

.grid {
	max-width: 69em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	padding: 7px;
	width: 33%;
	opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

/* Effect 2: Move Up */
.grid.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	-ms-transform: translateY(200px);
	    transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

/* Global - not specific to effect 2 */
@media screen and (max-width: 900px) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	.grid li {
		width: 100%;
	}
}



/* -- http://gudh.github.io/ihover/dist/ -- */

.ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
  box-sizing: border-box;
}
.ih-item a {
  color: #333;
}
.ih-item a:hover {
  text-decoration: none;
}
.ih-item img {
  width: 100%;
  height: 100%;
}
.ih-item.square {
  position: relative;
  width: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ih-item.square.effect3 {
  overflow: hidden;
}
.ih-item.square.effect3.colored .info {
  background: #1a4a72;
}
.ih-item.square.effect3 .img {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.square.effect3 .info {
  height: auto;
  background: #333333;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.square.effect3 .info h3 {
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-style: italic;
  padding: 10px 10px 14px 4px;
  margin: 4px 0 0 0;
}
.ih-item.square.effect3 .info p {
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #bbb;
  padding: 5px;
  text-align: center;
}
.ih-item.square.effect3 a:hover .info {
  visibility: visible;
  opacity: 1;
}
.ih-item.square.effect3.bottom_to_top .info {
  top: auto;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.ih-item.square.effect3.bottom_to_top a:hover .img {
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}
.ih-item.square.effect3.bottom_to_top a:hover .info {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}