/* -- http://tympanus.net/codrops/2012/01/09/filter-functionality-with-css3/ -- */

/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
section, header {
	display: block;
}

/* Container */
.ff-container {
	width: 90%;
	margin: 100px auto 30px auto;
	padding-bottom: 100px;
}
.ff-container label{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	width: 17%;
	height: 35px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 19px;
	text-align: center;
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	float:left;
	box-shadow: 0px 0px 0px 1px #aaa, 1px 0px 0px 0px rgba(255,255,255,0.9) inset, 0px 1px 2px rgba(0,0,0,0.2);
}
.ff-container label.ff-label-type-all{
	border-radius: 3px 0px 0px 3px;
}
.ff-container label.ff-label-spinning{
	border-radius: 0px 3px 3px 0px;
}
.ff-container input.ff-selector-type-all:checked ~ label.ff-label-type-all,
.ff-container input.weaving:checked ~ label.label-weaving,
.ff-container input.knittig:checked ~ label.label-knitting,
.ff-container input.spinning:checked ~ label.label-spinning
.ff-container input.other:checked ~ label.label-other{
	background: #646d93;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#646d93), color-stop(100%,#7c87ad));
	background: -webkit-linear-gradient(top, #646d93 0%,#7c87ad 100%);
	background: linear-gradient(top, #646d93 0%,#7c87ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646d93', endColorstr='#7c87ad',GradientType=0 );
	color: #424d71;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
	box-shadow: 0px 0px 0px 1px #40496e, 0 1px 2px rgba(0,0,0,0.1) inset;
}
.ff-container input{
	display: none;
}
.ff-items{
	position: relative;
	margin: 0px auto;
	padding-top: 20px;
}
.ff-items a{
	display: block;
	position: relative;
	padding: 10px;
	background: #737373;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	margin: 4px;
	width: 140px;
	height: 140px;
	border-radius: 5px;
}
.ff-items a span{
	display: block;
	background: rgba(113,123,161, 0.9);
	font-style: italic;
	color: #fff;
	font-weight: bold;
	padding: 20px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 120px;
	height: 0px;
	overflow: hidden;
	opacity: 0;
	text-align: center;
	text-shadow: 1px 1px 1px #303857;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.ff-items a:hover span{
	height: 80px;
	opacity: 0;
}
.ff-items li img{
	display: block;
	height: 120px;
	margin: 0 auto
}
.ff-items li{
	margin: 0px;
	float: left;
	height: 148px;
	width: 0px;
	-webkit-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
}
.ff-container input.ff-selector-type-all:checked ~ .ff-items li{
	width: 188px;
	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-transition: -webkit-transform 0.3s linear;
	transition:-webkit-transform 0.3s linear;
	transition:transform 0.3s linear;
	transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.ff-container input.weaving:checked ~ .ff-items .ff-item-weaving,
.ff-container input.knitting:checked ~ .ff-items .ff-item-knitting,
.ff-container input.spinning:checked ~ .ff-items .ff-item-spinning,
.ff-container input.other:checked ~ .ff-items .ff-item-other
.ff-container input.handwoven:checked ~ .ff-items .ff-item-handwoven
.ff-container input.spinoff:checked ~ .ff-items .ff-item-spinoff
.ff-container input.othermag:checked ~ .ff-items .ff-item-othermag
.ff-container input.other:checked ~ .ff-items .ff-item-patterns
{
	-webkit-transition: -webkit-transform 0.3s linear, width 0s linear 0.3s;
	-webkit-transition:width 0s linear 0.3s, -webkit-transform 0.3s linear;
	transition:width 0s linear 0.3s, -webkit-transform 0.3s linear;
	transition:transform 0.3s linear, width 0s linear 0.3s;
	transition: transform 0.3s linear, width 0s linear 0.3s, -webkit-transform 0.3s linear;
	-webkit-animation: scaleUp 0.3s linear 0.4s forwards;
	animation: scaleUp 0.3s linear 0.4s forwards;
}
.ff-container input.weaving:checked ~ .ff-items li:not(.ff-item-weaving),
.ff-container input.knitting:checked ~ .ff-items li:not(.ff-item-knitting),
.ff-container input.spinning:checked ~ .ff-items li:not(.ff-item-spinning),
.ff-container input.other:checked ~ .ff-items li:not(.ff-item-other)
.ff-container input.handwoven:checked ~ .ff-items li:not(.ff-item-handwoven)
.ff-container input.spinoff:checked ~ .ff-items li:not(.ff-item-spinoff)
.ff-container input.othermag:checked ~ .ff-items li:not(.ff-item-othermag)
.ff-container input.patterns:checked ~ .ff-items li:not(.ff-item-patterns)
{
	-webkit-animation: scaleDown 0.3s linear forwards;
	animation: scaleDown 0.3s linear forwards;
}
@-webkit-keyframes scaleUp {
	50% { width: 188px; -webkit-transform: scale(0,0); }
    100% { width: 188px; -webkit-transform: scale(1,1); }
}
@-webkit-keyframes scaleDown {
	0% { width: 188px;-webkit-transform: scale(1,1);}
	99% { width: 188px; -webkit-transform: scale(0,0);}
    100% { width: 0px; -webkit-transform: scale(0,0); }
}
@keyframes scaleUp {
	50% { width: 188px; -webkit-transform: scale(0,0); transform: scale(0,0); }
    100% { width: 188px; -webkit-transform: scale(1,1); transform: scale(1,1); }
}
@keyframes scaleDown {
	0% { width: 188px; -webkit-transform: scale(1,1); transform: scale(1,1);}
	99% { width: 188px; -webkit-transform: scale(0,0); transform: scale(0,0);}
    100% { width: 0px; -webkit-transform: scale(0,0); transform: scale(0,0); }
}

