---
layout: default
title: Current Projects
---
<section class="projects">
	<h2>Finished projects</h2>
	<ul class="list-reset">
		{% for project in site.data.projects %}
		{% if project.status == "finished" %}
		<li>
			<a class="left-align" href="{{ site.baseurl }}/projects/{{ project.folder }}/{{ project.href }}"><h3>{{ project.title }}</h3>
				<img class="center-image vert-space" src="{{ site.baseurl }}/projects/{{ project.folder }}/img/{{ project.img }}" />
			</a>
			<a href="{{ project.rav }}">Ravelry link</a>
			{% if project.started %}
			<p class="right-align m0">Started: {{ project.started }}</p>
			{% endif %}
			{% if project.finished %}
			<p class="right-align">Finished: {{ project.finished }}</p>
			{% endif %}
		</li>
		<hr />
		{% endif %}
        {% endfor %}
    </ul>
</section>
<hr />
<section>
	<h2>Projects on hold</h2>
	<ul>
		{% for project in site.data.projects %}
		{% if project.status == "on hold" %}
		<li>
			<a class="no-dec" href="{{ site.baseurl }}/projects/{{ project.folder }}/{{ project.href }}">{{ project.project }}</a>
			{% if project.started %}
			<p class="right-align m0">Started: {{ project.started }}</p>
			{% endif %}
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</section>
<hr />
<section>
	<h2>Projects on hold</h2>
	<ul>
		{% for project in site.data.projects %}
		{% if project.status == "frogged" %}
		<li>
			<a class="no-dec" href="{{ site.baseurl }}/projects/{{ project.folder }}/{{ project.href }}">{{ project.project }}</a>
			{% if project.started %}
			<p class="right-align m0">Started: {{ project.started }}</p>
			{% endif %}
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</section>