---
layout: default
title: Current Projects
---
<section class="projects">
	<ul class="list-reset">
		{% for project in site.data.projects %}
		{% if project.status == "in progress" %}
		<li>
			<a class="left-align" href="{{ site.baseurl }}/projects/{{ project.href }}"><h3>{{ project.title }}</h3></a>
			<img class="center-image vert-space" src="{{ site.baseurl }}/projects/{{ project.img }}" />
			{% if project.started %}
			<p class="right-align m0">Started: {{ project.started }}</p>
			{% endif %}
			{% if project.finished %}
			<p class="right-align">Finished: {{ project.finished }}</p>
			{% endif %}
		</li>
		<hr />
		{% endif %}
        {% endfor %}
    </ul>
</section>