---
layout: default
title: Recipes
---

<a href="{{ site.baseurl }}/recipes/tags.html"><h4 class="right-align no-top-marg">Recipes by tag</h4></a>
<hr class="mb0 mt2" />
<section>
    {% for recipe in site.data.recipes %}
    <div class="recipes">
        <a href="{{ recipe.href }}">
			<h3>{{ recipe.title }}</h3>
            <img class="center-image" src="{{ site.baseurl }}/recipes/img/{{ recipe.img }}" />
		</a>
		<h5 class="center">({{ recipe.source }})</h5>
        
        {% if recipe.tags contains "beef" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#beef">beef</a>{% endif %} 
		{% if recipe.tags contains "bread" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#bread">bread</a>{% endif %} 
		{% if recipe.tags contains "breakfast" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#breakfast">breakfast</a>{% endif %} 
		{% if recipe.tags contains "candy" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#candy">candy</a>{% endif %} 
		{% if recipe.tags contains "cheese" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#candy">cheese</a>{% endif %} 
		{% if recipe.tags contains "cookies" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#cookies">cookies</a>{% endif %} 
		{% if recipe.tags contains "crackers" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#crackers">crackers</a>{% endif %} 
		{% if recipe.tags contains "dessert" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#dessert">dessert</a>{% endif %} 
		{% if recipe.tags contains "fish" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#fish">fish</a>{% endif %} 
		{% if recipe.tags contains "lentils" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#lentils">lentils</a>{% endif %} 
		{% if recipe.tags contains "main" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#main">main</a>{% endif %} 
		{% if recipe.tags contains "pressure" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#pressure">main</a>{% endif %} 
		{% if recipe.tags contains "salad" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#salad">salad</a>{% endif %} 
		{% if recipe.tags contains "sauce" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#sauce">sauce</a>{% endif %} 
		{% if recipe.tags contains "soup" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#soup">soup</a>{% endif %} 
		{% if recipe.tags contains "xmas" %}<a class="small-font" href="{{ site.baseurl }}/recipes/tags.html#xmas">xmas</a>{% endif %}

    </div>
    {% endfor %}
</div>
