---
layout: default
---
<div class="home">
	<div class="posts">
		{% for post in site.posts %}
		<div id="index-post" class="post">
			<span class="post-meta dark">{{ post.date | date: "%-d %B %Y" }}</span><br />
			<a style="float:right;" href="{{ post.project }}.html">{{ post.project }}</a><br />
			<h2 class="post-title">
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			<p class="post-summary">
			{% if post.summary %}
				{{ post.summary }}
			{% else %}
				{{ post.excerpt }}
			{% endif %}
			</p>
		</div><!-- /#index-post -->
		<hr class="mt0 mb2" />
		{% endfor %}
	</div><!-- /.posts -->
</div><!-- /.home -->