---
layout: default
title: Home
---
<section id="photos">
	{% for project in site.projects %}
		<a class="hide-display" href="{{ site.baseurl }}/projects/{{ project.folder }}/{{ project.href }}">
			<img src="{{ site.baseurl }}/projects/{{ project.folder }}/img/{{ project.img }}" />
			<span class="click-title">{{ project.project-title }}<br/>
				{% if project.subtitle %}
				<span class="click-text">{{ project.subtitle }}</span>
				{% endif %}
			</span>
		</a>
	{% endfor %}
</section><!-- /#photos -->
