---
---
<h1>Projects</h1>
<h2>Weaving</h2>
<ul>
{% for project in site.projects | sort: title %}
	{% if project.tag contains "weaving" %}
		<li><a href="{{ project.url }}">{{ project.project-title }}</a>, {{ project.subtitle }}</li>
	{% endif %}
{% endfor %}
</ul>
New
<h2>Knitting</h2>
<ul>
{% for project in site.projects | sort: title %}
	{% if project.category == "knitting" %}
		<li><a href="{{ project.url }}">{{ project.project-title }}</a>, {{ project.subtitle }}</li>
	{% endif %}
{% endfor %}
</ul>

<h2>Spinning</h2>
<ul>
{% for project in site.projects | sort: title %}
	{% if project.category == "spinning" %}
		<li><a href="{{ project.url }}">{{ project.project-title }}</a>, {{ project.subtitle }}</li>
	{% endif %}
{% endfor %}
</ul>

<h2>Other</h2>
<ul>
{% for project in site.projects | sort: title %}
	{% if project.category == "other" %}
		<li><a href="{{ project.url }}">{{ project.project-title }}</a>, {{ project.subtitle }}</li>
	{% endif %}
{% endfor %}
</ul>