---
title: Projects
---
<h1>Projects</h1>

<ul>
  {% for project in site.projects %}
    <li><a href="{{ project.url }}">{{ project.project-title }}</a>, {{ project.subtitle }}</li>
  {% endfor %}
</ul>

<!-- For sorting:
{% assign products_by_company = collection.products | sort_natural: "company" %}
{% for product in products_by_company %}
  <h4>{{ product.title }}</h4>
  {% endfor %}
  
Add sections here and to Project pages -->

<ul>
{% for project in site.projects %}
	{% if project.tag == "weaving" %}
		<li><a href="{{ project.url }}">{{ project.project-title }}</a>, {{ project.subtitle }}</li>
	{% endif %}
{% endfor %}
</ul>
