---
---
<h1>Projects</h1>
<h2>Weaving</h2>
<ul>
{% for project in site.projects %}
	{% if project.tags contains "weaving" %}
		<li><a href="/projects/{{ project.folder }}/{{ project.folder }}.html">{{ project.project-title }}</a>, {{ project.subtitle }}</li>
	{% endif %}
{% endfor %}
</ul>

<h2>Knitting</h2>
<ul>
{% for project in site.projects %}
	{% if project.tags contains "knitting" %}
		<li><a href="/projects/{{ project.folder }}/{{ project.folder }}.html">{{ project.project-title }}</a>, {{ project.subtitle }}</li>
		{% endif %}
{% endfor %}
</ul>

<h2>Spinning</h2>
<ul>
{% for project in site.projects %}
	{% if project.tags contains "spinning" %}
		<li><a href="/projects/{{ project.folder }}/{{ project.folder }}.html">{{ project.project-title }}</a>, {{ project.subtitle }}</li>
		{% endif %}
{% endfor %}
</ul>

<h2>Other</h2>
<ul>
{% for project in site.projects %}
	{% if project.tags contains "sewing" or project.tag contains "braiding" %}
		<li><a href="/projects/{{ project.folder }}/{{ project.folder }}.html">{{ project.project-title }}</a>, {{ project.subtitle }}</li>
		{% endif %}
{% endfor %}
</ul>