---
layout: default
rav: "http://www.ravelry.com/projects/LynneS/twice-woven-rug"
---
<h2 class="center">Making a Twice-Woven Sweater</h2>
<a class="right-align" href="http://www.ravelry.com/projects/LynneS/twice-woven-rug">Ravelry link</a>

{% for post in site.posts %}
{% if post.category == "twice-woven" %}
<div class="space-above">
	<h3>{{ post.title }} - <small>Posted on <a href="{{ post.url }}">{{ post.date | date_to_string }}</a></small></h3>
</div>

<div class="post">
	{{ post.content }}  <!-- content of the post -->
</div>

{% endif %}
{% endfor %}
