<header class="site-header px2 px-responsive no-bottom">
	<!-- Dropdown menu from <a href="http://medialoot.com/blog/how-to-create-a-responsive-navigation-menu-using-only-css/">medialoot.com</a> -->
	<div class="mt2 wrap no-top-marg">
	    <div class="measure">
			<nav>
			<!--CSS will hide this checkbox while at the same time during a media query,
			check the box to cause proper display of menu-->
				<label for="show-menu" class="show-menu vert-hide">{{ site.title }}</label>
				<input type="checkbox" id="show-menu" name="button">
				<ul id="menu">
					{% for item in site.data.navigation %}
						<a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
							{{ item.name }}
						</a>
					{% endfor %}
			    </ul>
			</nav>
			<div class="clearfix">
			</div><!-- /.cleaerfix -->
		</div><!-- /.measure -->
	</div><!-- /.mt2 wrap no-top-marg -->
</header><!-- /.site-header px2 px-responsive no-bottom -->


