---
layout: default
---
<h2 class="center">Spring Fever scarf for Laurel</h2>
<p class="right-align">
	<a href="http://www.ravelry.com/patterns/library/spring-fever-2">Ravelry link</a>
</p>
{% for post in site.posts %}
{% if post.category == "spring-fever" %}
<div class="space-above">
	<h3>{{ post.title }} - <small>Posted on <a href="{{ post.url }}">{{ post.date | date_to_string }}</a></small></h3>
</div>

<div class="post">
	{{ post.content }}  <!-- content of the post -->
</div>

{% endif %}
{% endfor %}
