<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Finished Projects</title>

    <link href="{{ site.baseurl }}css/bootstrap.css" rel="stylesheet">
	<link href="{{ site.baseurl }}css/craft.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}css/simple-sidebar.css" rel="stylesheet">

</head>

<body>
    <div id="wrapper"><!-- padding:0 in simple-sidebar.css -->

        <!-- Sidebar -->
		
        <div id="sidebar-wrapper"><!-- simple-sidebar.css -->
            <ul class="sidebar-nav" style="margin-top:50px;"><!-- the margin brings the sidebar below the header -->
                <li class="sidebar-brand">
                    <a style="color:#fff;" href="#">
                        Completed Projects
                    </a>
                </li>
                <li>
                    <a href="finnish.html">Finnish Twill</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div><!-- /#sidebar-wrapper -->
		
		<!-- Header -->
		
		{% include header.html %}

        <!-- Page Content -->
        <div id="page-content-wrapper"><!-- width:100%; position:absolute; padding:15px; -->
            <div class="container"><!-- padding:0 15px; margin:0 auto; -->
				<h2 style="text-align:center; margin-top:50px;">{{ page.title }}</h2>
				
				{{ content }}
				
            </div><!-- /.container -->
        </div><!-- /#page-content-wrapper -->

    </div><!-- /#wrapper -->
	
	{% include footer.html %}

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
