---
layout: default
---

<h2 class="heading-space">Towels for Christmas Presents</h2><!-- margin-top:5px; margin-bottom:20px; text-align:center; in craft.css -->

{% for post in site.posts %}
	{% if post.category == "Christmas-Present Towels" %}
	
	<div class="space-above"><!-- margin-top:20px; in craft.css -->
		<h3>{{ post.title }} - <small>Posted on <a href="{{ post.url }}">{{ post.date | date_to_string }}</a></small></h3>
	</div>

	<div class="post"><!-- margin-top:20px;	padding-bottom:35px in craft.css -->
		{{ post.content }}  <!-- content of the post -->
	</div>
	
	<div>
		<span>
			Tags: 
			{% for tag in post.tags %}
			<a href="{{ site.baseurl }}tag/{{ tag }}/index.html">{{ tag }}</a>
			{% endfor %}
		</span>
		<hr>
	</div>

  {% endif %}
  {% endfor %}